*{
    margin: 0;
    padding: 0;
    font-family: Mitr;
    box-sizing: border-box;
    text-decoration: none;
}

html,body{
    height: 100%;
}

.overlay {
    display: none; /* ซ่อนพื้นหลังไว้ก่อน */
    position: fixed; /* ใช้ fixed เพื่อให้ overlay ครอบทั้งหน้า */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 48, 48, 0.5);
    z-index: 1; /* น้อยกว่า new-product */
}


/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    background-image: linear-gradient(0deg, rgba(57, 62, 70, 1) 0%, rgba(39, 42, 48, 1) 48%, rgba(26, 27, 31, 1) 100%);
}


nav .logo{
    
    padding-left: 2rem;
    width: 15%;
    display: flex;
    
}
.title-echo{
    color: white;
    font-size: 3.5rem;
}

.title-lite{
    color: #00adb5;
    display: flex;
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 0.3rem;
    align-items: center;
}


.contact{
    color: white;
    font-size: 1.8rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
}
/* .nav-item{
    border: 1px solid red;
} */

.alert-box{
    width: 30%;
    height: 70%;
    z-index: 100;
}

.success-box{
    color: white;
    background-color: #5FE15F;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
}

.fail-box{
    color: white;
    background-color: #f04040;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
}


/* main content */
main{
    /* border: 3px solid red; */
    height: 88%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    width: 80%;
    height: 70%;
    border-radius: 30px;
    background-color: #393E46;
    margin-top: -6rem;
    overflow-y: auto;
    
}

.content{
    /* border: 1px solid red; */
    height: 100%;
    margin: 0 5rem;
    
}

.content-menu{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: white;
    height: 18%;
}

.add-button{
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    color: white;
    background-image: linear-gradient(180deg, rgba(0, 173, 181, 1) 0%, rgba(86, 218, 225, 1) 100%);
    border: none;
    border-radius: 1.2rem;
}

.add-button:hover{
    transform: scale(1.03);
    transition: 1s ease;
}

.date-select{
    font-size: 1rem;
    padding: 0 0.5rem;
    color: rgb(68, 67, 67);
    background-image: linear-gradient(180deg, rgba(0, 173, 181, 1) 0%, rgba(86, 218, 225, 1) 100%);
    border: none;
    border-radius: 1.2rem;
}

.content-todo{
    height: 82%;
}

.todo-item{
    background-color:  #222831;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem
    ;
    .item-left{
        display: flex;
        padding: 15px;
    }
    .item-right{
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
    }
}

.todo-text{
    font-size: 2rem;
    padding: 0 1rem;
    color: white;
}

/* popup */
.popup{
    width: 45%;
    height: 25%;
    background-color: #393E46;
    border-radius: 25px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
    position: fixed;
    margin-top: -20rem;
}

.popup-row{
    height: 33%;
    /* border: 1px solid red; */
}

/* top */
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* center */
.input-container{
    display: flex;
    justify-content: space-around;
    margin: 0.2rem 0;
    .input-text{
        padding: 1rem;
        width: 70%;
        border-radius: 1.5rem;
        border: 3px solid #00adb5;
        font-size: 1.2rem;
    }
    .input-date{
        border-radius: 1.5rem;
        font-size: 1rem;
        padding: 1rem;
        width: 20%;
        border: none;
        background-color: #00adb5;
        color: white;
    }
}

/* bottom */

.bottom{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 0 2rem;
    margin: 0.7rem 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: white;
}



.cancel-button{
    background-color: #E15F5F;
}

.cancel-button:hover{
    transform: scale(1.02);
    transition: 1s ease;
    background-color:  #e33737;
}

.confirm-button{
    background-color: #5FE15F;
}

.confirm-button:hover{
    transform: scale(1.03);
    transition: 1s ease;
    background-color:  #39dc39;
}

.image-check:hover{
    transform: scale(1.10);
    transition: 1s ease;
}

.image-delete:hover{
    transform: scale(1.10);
    transition: 1s ease;
}
